/.vscode
/PHP/path/sessions/*

/PHP/uploads/documents/*/*
/PHP/uploads/appointments/*
/PHP/uploads/recruitment/*

!/PHP/uploads/documents/*/.gitkeep
!/PHP/uploads/appointments/.gitkeep
!/PHP/uploads/recruitment/.gitkeep

!/PHP/path/sessions/.gitkeep

.env

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
package.json

#testing
__pycache__/

