@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.red-hat-display-0 {
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    height: auto;
}

body {
    height: auto;
    font-family: "Red Hat Display", serif;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
    height: auto;
    color: black;
    background: rgb(0,130,255);
    background: linear-gradient(53deg, rgba(0,130,255,0.4) 20%, rgba(255,255,255,1) 50%, rgba(0,130,255,0.4) 85%);
    background-attachment: fixed;
}

.header {
    height: 70px;
    width: calc(100vw - 350px);
    padding-top: 5px;
    border-bottom: solid 1px;
    border-color: rgb(16, 54, 116);
}

.headerHeading {
    font-weight: 900;
    width: fit-content;
    float: left;
    color: rgb(16, 54, 116);
    text-shadow: 2px 2px 4px rgb(0, 130, 255);
}

.profileCircle {
    width: 55px;
    height: 55px;
    float: right;

    border-radius: 55px;
}

#loginBox {
    border-radius: 12px;
    background-color: #D9D9D9;
    width: 75%;
}

#loginTypeBox {
    width: 80%;
}

.regFormDiv {
    width: fit-content;
}

.regFormText {
    width: 23vw;
    border: solid 2px !important;
    
}

.mainDiv {
    width: 85vw;
    margin: auto;
}

.regSubmit {
    border-color: rgb(222, 226, 230);
    margin-top: 25px;
}


.sideBarOpen {
    position: sticky;
    top: 8px;
    vertical-align: top;
    width: 300px;
    height: 98vh;
    background-color: white;
    box-shadow: 0px 0px 5px white;
}

.sidebarCollapsed {
    width: 90px;
}

.sideBarCloseButton {
    padding: 5px;
    margin-top: 5px;
    margin-left: 235px;
}

.navBarDiv {
    display: inline-block;
    width: 95%;
    padding: 5px;
}

.navLinkHeader {
    background-color: rgb(38, 96, 172);
    color: white;
    font-size: 18px;
    font-weight: 750;
    height: 55px;
    vertical-align: middle;
    clear: both;
}

.navLinkButton {
    color: rgb(38, 96, 172);
    width: 90%;
    float: right;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;
    height: 55px;
    border-bottom-color: rgb(0, 9, 87) !important;
}

.bodyDiv {
    width: calc(100vw - 350px);
    min-height: 604px;
    background-color: white;
}

.bodyHeadingDiv {
    box-shadow: 0px 0px 10px white;
    background-color: rgb(38, 96, 172);
    color: white;
}

.bodyHeading {
    font-size: 26px;
    font-weight: 780;
}

.card {
    width: 330px;
    margin-right: 5px;
}

.card-link {
    width: 140px;
    font-size: 12.5px;
}

.applyCard {
    font-size: 15px;
    padding-top: 10px;
}

.cancelCard {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 150px;
    width: fit-content;
}

.applicationsDiv {
    width: calc(100vw - 325px - 450px);
}

.applicationStatusDiv {

    width: 430px;
    height: 99vh;
    float: right;
    padding: 5px;
}

.StatusCard {
    width: 100%;
}

.appointmentsDiv {
    width: 100%;
}

.offerCardOption {
    width: 100%;
}

.submitResultLabel {
    vertical-align: top;
    width: 20vw;
}

.resultSearchBar {
    width: 25vw;
}

.subResAppltnID {
    width: 15%;
}

.subResApplntName {
    width: 20%;
}

.subResApplntID {
    width: 15%;
}

.subResDob {
    width: 12%;
}

td.subResTdInput {
    padding: 1px;
}


.rankListUpdate {
    width: 10vw;
    font-size: 15px;
}

.rankSearchBar {
    width: 15vw;
    border: solid 1px;
}

.verifyApplCheckbox {
    width: 2%;
}

.rank {
    width: 10%;
}

.verifyAppLabelDiv {
    width: 50%;
}

.verifyApplLabel {
    width: 30%;
}

.applDetailDiv {
    vertical-align: top;
}

.verifyApplLabel {
    width: 30%;
}

.sendAppointDiv {
    width: 100%;
}

.sendAppointLabelDiv {
    width: 20%;
}

.checkbox {
    margin-top: 20px;
}

.verifyApplInfoCol2 {
    translate: 60px 0;
}

.appntLetterUpload {
    display: block;
    font-size: 14px;
    width: 95%;
}

.appointment {
    width: 17%;
}

table.tableSendAppointment {
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    --bs-table-border-color: black;
    --bs-table-bg: rgba(0,130,255,0.25); 
}

thead, td, tr {
    border: solid 1.75px;    
    font-weight: 700;
}

.buttonSendAppointment {
    color: rgb(38, 96, 172);
    font-weight: 700;
    border: solid 2px black;
}