@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

/*  <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 300 to 900
*/

.red-hat-display-0 {
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Red Hat Display", serif;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
    height: auto;
    color: rgb(0, 9, 87);
}

.header {
    height: 70px;
    width: calc(100vw - 350px);
    position: absolute;
    left: 325px;
    top: 5px;
    padding-top: 5px;
    border-bottom: solid 1px;
    border-color: rgb(16, 54, 116);
}

.headerHeading {
    font-weight: 900;
    width: fit-content;
    float: left;
    color: rgb(16, 54, 116);
    text-shadow: 2px 2px 4px rgb(243, 164, 164);
}

.profileCircle {
    width: 55px;
    height: 55px;
    float: right;

    border-radius: 55px;
}

#loginBox {
    border-radius: 12px;
    background-color: #D9D9D9;
    width: 75%;
}

#loginTypeBox {
    width: 80%;
}

.regFormDiv {
    width: fit-content;
}

.regFormText {
    width: 23vw;
    border: solid 1.5px !important;
    border-color: #2660ac !important;
}

.mainDiv {
    width: 85vw;
    margin: auto;
}

.regSubmit {
    border-color: rgb(222, 226, 230);
    margin-top: 25px;
}


.sideBarOpen {
    position: fixed;
    top: 0;
    width: 300px;
    height: 98vh;
    background-color: white;
    box-shadow: 0px 0px 25px rgb(232, 184, 184);
}

.sidebarCollapsed {
    width: 90px;
}

.sideBarCloseButton {
    padding: 5px;
    margin-top: 5px;
}

.navBarDiv {
    padding: 5px;
    position: absolute;
    top: 65px;
}

.navLinkHeader {
    background-color: rgba(38, 96, 172, 0.9);
    color: white;
    font-size: 18px;
    font-weight: 750;
    height: 55px;
    vertical-align: middle;
    clear: both;
}

.navLinkButton {
    color: rgb(38, 96, 172);
    width: 90%;
    float: right;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;
    height: 55px;
    border-bottom-color: rgb(0, 9, 87) !important;
}

.bodyDiv {
    width: calc(100vw - 350px);
    position: absolute;
    top: 80px;
    left: 325px;
}

.bodyHeadingDiv {
    box-shadow: 1px 1px 4px rgb(177, 110, 110);
}

.bodyHeading {
    font-size: 26px;
    font-weight: 780;
}

.card {
    width: 330px;
    margin-right: 5px;
}

.card-link {
    width: 140px;
    font-size: 12.5px;
}

.applyCard {
    font-size: 15px;
    padding-top: 10px;
}

.cancelCard {
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 150px;
    width: fit-content;
}

.applicationsDiv {
    width: calc(100vw - 325px - 450px);
}

.applicationStatusDiv {

    width: 430px;
    height: 99vh;
    float: right;
    padding: 5px;
}

.StatusCard {
    width: 100%;
}

.appointmentsDiv {
    width: 100%;
}

.offerCardOption {
    width: 100%;
}

.submitResultLabel {
    vertical-align: top;
    width: 20vw;
}

.resultSearchBar {
    width: 25vw;
}

table {
    font-size: 18px;
    overflow-x: scroll;
}

.subResAppltnID {
    width: 15%;
}

.subResApplntName {
    width: 20%;
}

.subResApplntID {
    width: 15%;
}

.subResDob {
    width: 12%;
}

td.subResTdInput {
    padding: 1px;
}


.rankListUpdate {
    width: 10vw;
    font-size: 15px;
}

.rankSearchBar {
    width: 15vw;
}

.verifyApplCheckbox {
    width: 2%;
}

.rank {
    width: 10%;
}

.verifyAppLabelDiv {
    width: 50%;
}

.verifyApplLabel {
    width: 30%;
}

.applDetailDiv {
    vertical-align: top;
}

.verifyApplLabel {
    width: 30%;
}

.sendAppointDiv {
    width: 100%;
}

.sendAppointLabelDiv {
    width: 20%;
}

.checkbox {
    margin-top: 20px;
}

.verifyApplInfoCol2 {
    translate: 60px 0;
}

.appntLetterUpload {
    display: block;
    font-size: 14px;
    width: 95%;
}

.appointment {
    width: 17%;
}

table.tableSendAppointment {
    display: block;
    overflow-x: auto !important;
    white-space: nowrap;
    border-color: rgb(33, 53, 85);
    --bs-table-bg: rgb(87, 123, 193) !important;
    --bs-table-striped-bg: rgb(52, 76, 183) !important;
}

thead {
    --bs-table-bg: grey;
}

th.rank {
    color: white;
}
